@import "../chameleon/styles.css";

.v-window{
    font-size: 18px; 
}

.v-app {
    background: white;
    padding: 5px;
    font-size: 18px;
}

.v-window-outerheader {
    background: gray;
    color: white;
}

.v-tabsheet-tabitemcell {
    background: #eee;
}

.headerRealName {
    font-size: 200%;
    line-height: 200%;
    font-weight: bold;
}

.htmlContent {
    padding: 8px;
}

.sidebarTopPanel {    
    margin-bottom: 5px;
}

.BigLabel {
    font-size: 200%;
}
.SmallLabel {
    font-size: 65%;
    color: #333;
}