@import "../reindeer/styles.css";

.v-app {
    background: white;
    padding: 5px;
}

.headerRealName {
    font-size: 200%;
    line-height: 200%;
    font-weight: bold;
}

.htmlContent {
    padding: 8px;
}

.sidebarTopPanel {    
    margin-bottom: 5px;
}